In [284]:
import pandas as pd
import numpy as np

In [285]:
df = pd.read_csv('SELECT_t___FROM_DublinBikes_UserTrends_t.csv')
df.head()

,available_bikes,last_update,name,latitude,longitude,available_bike_stands,bike_stands,status
0,0,29/03/2018 10:29,SMITHFIELD NORTH,53.349562,-6.278198,30,30,OPEN
1,16,29/03/2018 10:27,PARNELL SQUARE NORTH,53.353462,-6.265305,4,20,OPEN
2,26,29/03/2018 10:30,CLONMEL STREET,53.336021,-6.262980,7,33,OPEN
3,40,29/03/2018 10:24,MOUNT STREET LOWER,53.337960,-6.241530,0,40,OPEN
4,2,29/03/2018 10:32,CHRISTCHURCH PLACE,53.343368,-6.270120,18,20,OPEN

In [286]:
df.dtypes

available_bikes            int64
last_update               object
name                      object
latitude                 float64
longitude                float64
available_bike_stands      int64
bike_stands                int64
status                    object
dtype: object

In [287]:
#separating dates from time
df1 = pd.DataFrame(df.last_update.str.split(' ',1).tolist(), columns = ['date','time'])
df1.head()
df.head()

,available_bikes,last_update,name,latitude,longitude,available_bike_stands,bike_stands,status
0,0,29/03/2018 10:29,SMITHFIELD NORTH,53.349562,-6.278198,30,30,OPEN
1,16,29/03/2018 10:27,PARNELL SQUARE NORTH,53.353462,-6.265305,4,20,OPEN
2,26,29/03/2018 10:30,CLONMEL STREET,53.336021,-6.262980,7,33,OPEN
3,40,29/03/2018 10:24,MOUNT STREET LOWER,53.337960,-6.241530,0,40,OPEN
4,2,29/03/2018 10:32,CHRISTCHURCH PLACE,53.343368,-6.270120,18,20,OPEN

In [288]:
df = df[['name', 'latitude', 'longitude', 'available_bikes', 'available_bike_stands', 'bike_stands', 'status']]
df.head()

,name,latitude,longitude,available_bikes,available_bike_stands,bike_stands,status
0,SMITHFIELD NORTH,53.349562,-6.278198,0,30,30,OPEN
1,PARNELL SQUARE NORTH,53.353462,-6.265305,16,4,20,OPEN
2,CLONMEL STREET,53.336021,-6.262980,26,7,33,OPEN
3,MOUNT STREET LOWER,53.337960,-6.241530,40,0,40,OPEN
4,CHRISTCHURCH PLACE,53.343368,-6.270120,2,18,20,OPEN

In [289]:
frames = [df1, df]
df = pd.concat(frames, axis=1)
df.head()

,date,time,name,latitude,longitude,available_bikes,available_bike_stands,bike_stands,status
0,29/03/2018,10:29,SMITHFIELD NORTH,53.349562,-6.278198,0,30,30,OPEN
1,29/03/2018,10:27,PARNELL SQUARE NORTH,53.353462,-6.265305,16,4,20,OPEN
2,29/03/2018,10:30,CLONMEL STREET,53.336021,-6.262980,26,7,33,OPEN
3,29/03/2018,10:24,MOUNT STREET LOWER,53.337960,-6.241530,40,0,40,OPEN
4,29/03/2018,10:32,CHRISTCHURCH PLACE,53.343368,-6.270120,2,18,20,OPEN

In [290]:
df['day'] = np.where(df['date']=='29/03/2018', 'Thursday', 'no')

In [291]:
df.head()

,date,time,name,latitude,longitude,available_bikes,available_bike_stands,bike_stands,status,day
0,29/03/2018,10:29,SMITHFIELD NORTH,53.349562,-6.278198,0,30,30,OPEN,Thursday
1,29/03/2018,10:27,PARNELL SQUARE NORTH,53.353462,-6.265305,16,4,20,OPEN,Thursday
2,29/03/2018,10:30,CLONMEL STREET,53.336021,-6.262980,26,7,33,OPEN,Thursday
3,29/03/2018,10:24,MOUNT STREET LOWER,53.337960,-6.241530,40,0,40,OPEN,Thursday
4,29/03/2018,10:32,CHRISTCHURCH PLACE,53.343368,-6.270120,2,18,20,OPEN,Thursday

In [293]:
df['day'] = pd.np.where(df.date.str.contains("29/03/2018"), "Thursday",
                   pd.np.where(df.date.str.contains("30/03/2018"), "Friday",
                   pd.np.where(df.date.str.contains("31/03/2018"), "Saturday",
                    pd.np.where(df.date.str.contains("01/04/2018"), "Sunday", 
                    pd.np.where(df.date.str.contains("02/04/2018"), "Monday",
                   pd.np.where(df.date.str.contains("03/04/2018"), "Tuesday",
                    pd.np.where(df.date.str.contains("04/04/2018"), "Wednesday",
                    pd.np.where(df.date.str.contains("05/04/2018"), "Thursday",
                   pd.np.where(df.date.str.contains("06/04/2018"), "Friday",
                    pd.np.where(df.date.str.contains("07/04/2018"), "Saturday",
                    pd.np.where(df.date.str.contains("08/04/2018"), "Sunday",
                   pd.np.where(df.date.str.contains("09/04/2018"), "Monday",
                    pd.np.where(df.date.str.contains("10/04/2018"), "Tuesday",
                    pd.np.where(df.date.str.contains("11/04/2018"), "Wednesday",
                    pd.np.where(df.date.str.contains("12/04/2018"), "Thursday", "null"      
                               
                               )))))))))))))))
df.head()

,date,time,name,latitude,longitude,available_bikes,available_bike_stands,bike_stands,status,day
0,29/03/2018,10:29,SMITHFIELD NORTH,53.349562,-6.278198,0,30,30,OPEN,Thursday
1,29/03/2018,10:27,PARNELL SQUARE NORTH,53.353462,-6.265305,16,4,20,OPEN,Thursday
2,29/03/2018,10:30,CLONMEL STREET,53.336021,-6.262980,26,7,33,OPEN,Thursday
3,29/03/2018,10:24,MOUNT STREET LOWER,53.337960,-6.241530,40,0,40,OPEN,Thursday
4,29/03/2018,10:32,CHRISTCHURCH PLACE,53.343368,-6.270120,2,18,20,OPEN,Thursday

In [294]:
df.tail()

,date,time,name,latitude,longitude,available_bikes,available_bike_stands,bike_stands,status,day
425147,12/04/2018,15:09,WILTON TERRACE,53.332383,-6.252717,7,13,20,OPEN,Thursday
425148,12/04/2018,15:09,EMMET ROAD,53.340714,-6.308191,3,37,40,OPEN,Thursday
425149,12/04/2018,15:03,HEUSTON BRIDGE (NORTH),53.347802,-6.292432,3,37,40,OPEN,Thursday
425150,12/04/2018,15:09,LEINSTER STREET SOUTH,53.342180,-6.254485,24,6,30,OPEN,Thursday
425151,12/04/2018,15:09,BLACKHALL PLACE,53.348800,-6.281637,5,25,30,OPEN,Thursday

In [295]:
# Get count of open and closed rows
df.status.value_counts()

OPEN      414413
CLOSED     10739
Name: status, dtype: int64

In [296]:
# Print list of stations and how many stations we have
print(df.name.value_counts())
len(df.groupby('name', as_index=False).groups)

KEVIN STREET                         4088
HANOVER QUAY                         4088
CATHAL BRUGHA STREET                 4088
JAMES STREET                         4088
FITZWILLIAM SQUARE EAST              4088
FREDERICK STREET SOUTH               4088
EMMET ROAD                           4088
ST JAMES HOSPITAL (LUAS)             4088
MERRION SQUARE WEST                  4088
HIGH STREET                          4088
BOLTON STREET                        4088
BARROW STREET                        4088
PARKGATE STREET                      4088
LIME STREET                          4088
HEUSTON STATION (CAR PARK)           4088
PARNELL STREET                       4088
COLLINS BARRACKS MUSEUM              4088
YORK STREET EAST                     4088
HARCOURT TERRACE                     4088
GOLDEN LANE                          4088
CUSTOM HOUSE                         4088
LEINSTER STREET SOUTH                4088
THE POINT                            4088
PORTOBELLO ROAD                      4088
SMITHFIELD NORTH                     4088
FOWNES STREET UPPER                  4088
GRANGEGORMAN LOWER (CENTRAL)         4088
ROTHE ABBEY                          4088
EXCHEQUER STREET                     4088
GRAND CANAL DOCK                     4088
                                     ...
PRINCES STREET / O'CONNELL STREET    4088
CHARLEMONT PLACE                     4088
GEORGES QUAY                         4088
HATCH STREET                         4088
WESTERN WAY                          4088
OLIVER BOND STREET                   4088
FITZWILLIAM SQUARE WEST              4088
SANDWITH STREET                      4088
MERRION SQUARE EAST                  4088
HERBERT PLACE                        4088
BLESSINGTON STREET                   4088
NEWMAN HOUSE                         4088
GREEK STREET                         4088
NEW CENTRAL BANK                     4088
MOUNT STREET LOWER                   4088
PEARSE STREET                        4088
GEORGES LANE                         4088
GRATTAN STREET                       4088
SMITHFIELD                           4088
ECCLES STREET EAST                   4088
SIR PATRICK DUN'S                    4088
MOUNT BROWN                          4088
BLACKHALL PLACE                      4088
TALBOT STREET                        4088
TOWNSEND STREET                      4088
DENMARK STREET GREAT                 4088
ROYAL HOSPITAL                       4088
HEUSTON BRIDGE (SOUTH)               4088
HEUSTON STATION (CENTRAL)            4088
ST. STEPHEN'S GREEN SOUTH            4088
Name: name, Length: 104, dtype: int64

104

In [297]:
# get average bike stands per station
'''
import matplotlib.pyplot as plt
import numpy as np

df_byname = df.groupby('name').mean().sort_values(['bike_stands'], ascending=False)['bike_stands']
ax = df_byname.plot(kind='bar', figsize=(20, 10))
plt.show()
'''

"\nimport matplotlib.pyplot as plt\nimport numpy as np\n\ndf_byname = df.groupby('name').mean().sort_values(['bike_stands'], ascending=False)['bike_stands']\nax = df_byname.plot(kind='bar', figsize=(20, 10))\nplt.show()\n"

In [298]:
# get average available bike stands per station
'''
df_byname = df.groupby('name').mean().sort_values(['available_bike_stands'], ascending=False)['available_bike_stands']
ax = df_byname.plot(kind='bar', figsize=(20, 10))
plt.show()
'''

"\ndf_byname = df.groupby('name').mean().sort_values(['available_bike_stands'], ascending=False)['available_bike_stands']\nax = df_byname.plot(kind='bar', figsize=(20, 10))\nplt.show()\n"

In [299]:
# get average available bikes per station
'''
df_byname = df.groupby('name').mean().sort_values(['available_bikes'], ascending=False)['available_bikes']
ax = df_byname.plot(kind='bar', figsize=(20, 10))
plt.show()
'''

"\ndf_byname = df.groupby('name').mean().sort_values(['available_bikes'], ascending=False)['available_bikes']\nax = df_byname.plot(kind='bar', figsize=(20, 10))\nplt.show()\n"

In [302]:
HourList = []
for row in df.iterrows():
   split = row[1]['time'].split(':')
   HourList.append(split[0])

['10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '11',
 '10',
 '10',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '10',
 '10',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '10',
 '11',
 '11',
 '11',
 '11',
 '10',
 '11',
 '10',
 '11',
 '11',
 '10',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '10',
 '10',
 '10',
 '10',
 '10',
 '11',
 '10',
 '10',
 '10',
 '11',
 '11',
 '11',
 '10',
 '10',
 '10',
 '11',
 '11',
 '10',
 '11',
 '10',
 '10',
 '11',
 '11',
 '10',
 '11',
 '11',
 '11',
 '10',
 '11',
 '10',
 '10',
 '11',
 '11',
 '10',
 '11',
 '11',
 '11',
 '11',
 '11',
 '10',
 '10',
 '10',
 '11',
 '11',
 '10',
 '11',
 '11',
 '11',
 '10',
 '10',
 '10',
 '11',
 '11',
 '11',
 '11',
 '10',
 '10',
 '11',
 '10',
 '11',
 '11',
 '10',
 '10',
 '10',
 '11',
 '10',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '10',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '10',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '10',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 ...]

In [303]:
df_Hour = pd.DataFrame({'hour':HourList})
df_Hour['hour'] = df_Hour['hour'].astype('int64')
df_new = pd.concat([df, df_Hour], axis=1)
df_new.head()

,date,time,name,latitude,longitude,available_bikes,available_bike_stands,bike_stands,status,day,hour
0,29/03/2018,10:29,SMITHFIELD NORTH,53.349562,-6.278198,0,30,30,OPEN,Thursday,10
1,29/03/2018,10:27,PARNELL SQUARE NORTH,53.353462,-6.265305,16,4,20,OPEN,Thursday,10
2,29/03/2018,10:30,CLONMEL STREET,53.336021,-6.262980,26,7,33,OPEN,Thursday,10
3,29/03/2018,10:24,MOUNT STREET LOWER,53.337960,-6.241530,40,0,40,OPEN,Thursday,10
4,29/03/2018,10:32,CHRISTCHURCH PLACE,53.343368,-6.270120,2,18,20,OPEN,Thursday,10
5,29/03/2018,10:33,GRANTHAM STREET,53.334123,-6.265436,1,29,30,OPEN,Thursday,10
6,29/03/2018,10:27,PEARSE STREET,53.344304,-6.250427,17,12,30,OPEN,Thursday,10
7,29/03/2018,10:30,YORK STREET EAST,53.338755,-6.262003,9,23,32,OPEN,Thursday,10
8,29/03/2018,10:30,EXCISE WALK,53.347777,-6.244239,39,1,40,OPEN,Thursday,10
9,29/03/2018,10:34,FITZWILLIAM SQUARE WEST,53.336074,-6.252825,27,3,30,OPEN,Thursday,10
10,29/03/2018,10:34,PORTOBELLO ROAD,53.330091,-6.268044,2,28,30,OPEN,Thursday,10
11,29/03/2018,10:31,ST. JAMES HOSPITAL (CENTRAL),53.339983,-6.295594,12,27,40,OPEN,Thursday,10
12,29/03/2018,10:31,PARNELL STREET,53.350929,-6.265125,10,10,20,OPEN,Thursday,10
13,29/03/2018,10:30,FREDERICK STREET SOUTH,53.341515,-6.256853,20,0,30,OPEN,Thursday,10
14,29/03/2018,10:33,FOWNES STREET UPPER,53.344603,-6.263371,28,2,30,OPEN,Thursday,10
15,29/03/2018,10:32,CLARENDON ROW,53.340927,-6.262501,27,4,31,OPEN,Thursday,10
16,29/03/2018,10:34,CUSTOM HOUSE,53.348279,-6.254662,24,6,30,OPEN,Thursday,10
17,29/03/2018,10:33,HANOVER QUAY,53.344115,-6.237153,23,16,40,OPEN,Thursday,10
18,29/03/2018,10:25,OLIVER BOND STREET,53.343893,-6.280531,0,29,30,OPEN,Thursday,10
19,29/03/2018,10:30,COLLINS BARRACKS MUSEUM,53.347477,-6.285250,0,38,38,OPEN,Thursday,10
20,29/03/2018,10:27,BROOKFIELD ROAD,53.339005,-6.300217,1,29,30,OPEN,Thursday,10
21,29/03/2018,10:31,BENSON STREET,53.344153,-6.233451,0,0,40,CLOSED,Thursday,10
22,29/03/2018,10:26,EARLSFORT TERRACE,53.334019,-6.258371,10,20,30,OPEN,Thursday,10
23,29/03/2018,10:34,GOLDEN LANE,53.340803,-6.267732,0,20,20,OPEN,Thursday,10
24,29/03/2018,10:30,DEVERELL PLACE,53.351464,-6.255265,12,18,30,OPEN,Thursday,10
25,29/03/2018,10:30,JOHN STREET WEST,53.343105,-6.277167,0,31,31,OPEN,Thursday,10
26,29/03/2018,10:24,FENIAN STREET,53.341428,-6.246720,28,7,35,OPEN,Thursday,10
27,29/03/2018,10:34,SOUTH DOCK ROAD,53.341833,-6.231291,21,9,30,OPEN,Thursday,10
28,29/03/2018,10:29,CITY QUAY,53.346637,-6.246154,30,0,30,OPEN,Thursday,10
29,29/03/2018,10:27,EXCHEQUER STREET,53.343034,-6.263578,24,0,24,OPEN,Thursday,10
...,...,...,...,...,...,...,...,...,...,...,...
425122,12/04/2018,15:07,BLESSINGTON STREET,53.356769,-6.268140,18,2,20,OPEN,Thursday,15
425123,12/04/2018,15:04,JAMES STREET,53.343456,-6.287409,13,27,40,OPEN,Thursday,15
425124,12/04/2018,15:06,MERRION SQUARE WEST,53.339764,-6.251988,19,1,20,OPEN,Thursday,15
425125,12/04/2018,15:07,CONVENTION CENTRE,53.347440,-6.238523,27,13,40,OPEN,Thursday,15
425126,12/04/2018,15:06,HARDWICKE STREET,53.355473,-6.264423,1,15,16,OPEN,Thursday,15
425127,12/04/2018,15:09,PARKGATE STREET,53.347972,-6.291804,6,32,38,OPEN,Thursday,15
425128,12/04/2018,15:08,SMITHFIELD,53.347692,-6.278214,4,26,30,OPEN,Thursday,15
425129,12/04/2018,15:09,DAME STREET,53.344007,-6.266802,15,1,16,OPEN,Thursday,15
425130,12/04/2018,15:08,HEUSTON BRIDGE (SOUTH),53.347106,-6.292041,7,18,25,OPEN,Thursday,15
425131,12/04/2018,15:09,CATHAL BRUGHA STREET,53.352149,-6.260533,6,14,20,OPEN,Thursday,15
425132,12/04/2018,15:02,SANDWITH STREET,53.345203,-6.247163,9,31,40,OPEN,Thursday,15
425133,12/04/2018,15:04,ROTHE ABBEY,53.338776,-6.303950,22,13,35,OPEN,Thursday,15
425134,12/04/2018,15:07,PRINCES STREET / O'CONNELL STREET,53.349013,-6.260311,23,0,23,OPEN,Thursday,15
425135,12/04/2018,15:06,UPPER SHERRARD STREET,53.358437,-6.260641,12,18,30,OPEN,Thursday,15
425136,12/04/2018,15:05,FITZWILLIAM SQUARE EAST,53.335211,-6.250900,23,17,40,OPEN,Thursday,15
425137,12/04/2018,15:08,GRATTAN STREET,53.339629,-6.243778,20,3,23,OPEN,Thursday,15
425138,12/04/2018,15:02,ST JAMES HOSPITAL (LUAS),53.341359,-6.292951,6,34,40,OPEN,Thursday,15
425139,12/04/2018,15:02,HARCOURT TERRACE,53.332763,-6.257942,8,12,20,OPEN,Thursday,15
425140,12/04/2018,15:08,BOLTON STREET,53.351182,-6.269859,5,15,20,OPEN,Thursday,15
425141,12/04/2018,15:05,STRAND STREET GREAT,53.347082,-6.264192,9,26,35,OPEN,Thursday,15
425142,12/04/2018,15:08,JERVIS STREET,53.348300,-6.266651,17,4,21,OPEN,Thursday,15
425143,12/04/2018,15:09,ORMOND QUAY UPPER,53.346057,-6.268001,3,26,29,OPEN,Thursday,15
425144,12/04/2018,15:07,BARROW STREET,53.341655,-6.236198,18,22,40,OPEN,Thursday,15
425145,12/04/2018,15:06,GRANGEGORMAN LOWER (SOUTH),53.354663,-6.278681,18,22,40,OPEN,Thursday,15
425146,12/04/2018,15:07,MOUNTJOY SQUARE WEST,53.356299,-6.258586,4,26,30,OPEN,Thursday,15
425147,12/04/2018,15:09,WILTON TERRACE,53.332383,-6.252717,7,13,20,OPEN,Thursday,15
425148,12/04/2018,15:09,EMMET ROAD,53.340714,-6.308191,3,37,40,OPEN,Thursday,15
425149,12/04/2018,15:03,HEUSTON BRIDGE (NORTH),53.347802,-6.292432,3,37,40,OPEN,Thursday,15
425150,12/04/2018,15:09,LEINSTER STREET SOUTH,53.342180,-6.254485,24,6,30,OPEN,Thursday,15
425151,12/04/2018,15:09,BLACKHALL PLACE,53.348800,-6.281637,5,25,30,OPEN,Thursday,15

In [304]:
dfGrouped = df_new[['hour', 'name', 'bike_stands', 'available_bikes', 'available_bike_stands', 'day', 'status']].groupby(['name', 'day', 'hour']).mean()
dfGrouped.head(30)

                           bike_stands  available_bikes  available_bike_stands
name          day    hour
BARROW STREET Friday 0            40.0        13.652174              26.347826
                     1            40.0        14.120000              25.880000
                     2            40.0        13.869565              26.130435
                     3            40.0        14.000000              26.000000
                     4            40.0        14.840000              25.160000
                     5            40.0        11.458333              28.541667
                     6            40.0        15.652174              24.347826
                     7            40.0        22.250000              17.291667
                     8            40.0        21.600000              17.920000
                     9            40.0        22.208333              17.250000
                     10           40.0        20.043478              19.478261
                     11           40.0        20.416667              19.083333
                     12           40.0        22.080000              17.400000
                     13           40.0        18.120000              21.400000
                     14           40.0        18.272727              21.636364
                     15           40.0        18.208333              21.791667
                     16           40.0         8.080000              31.920000
                     17           40.0         2.608696              37.391304
                     18           40.0         4.708333              35.291667
                     19           40.0         8.666667              31.333333
                     20           40.0        11.541667              28.458333
                     21           40.0        12.920000              27.080000
                     22           40.0        14.708333              25.291667
                     23           40.0        16.666667              23.333333
              Monday 0            40.0        19.000000              21.000000
                     1            40.0        19.120000              20.880000
                     2            40.0        18.869565              21.130435
                     3            40.0        19.000000              21.000000
                     4            40.0        19.083333              20.916667
                     5            40.0        21.916667              18.083333

In [309]:
# Write the dataframe with averages and groupbys into a new csv called dfGroupedFinal.csv
dfGrouped.add_suffix('_mean').reset_index().to_csv('dfGroupedFinal.csv', index=False)

In [310]:
dfWeatherG = df_new[['date', 'hour', 'name', 'bike_stands', 'available_bikes', 'available_bike_stands', 'status']].groupby(['name', 'date', 'hour']).mean()
dfWeatherG.head(30)

                               bike_stands  available_bikes  \
name          date       hour
BARROW STREET 01/04/2018 0            40.0         4.000000
                         1            40.0         4.000000
                         2            40.0         4.000000
                         3            40.0         4.000000
                         4            40.0         4.000000
                         5            40.0         4.461538
                         6            40.0         4.916667
                         7            40.0         5.166667
                         8            40.0         3.727273
                         9            40.0         1.769231
                         10           40.0         0.583333
                         11           40.0         3.250000
                         12           40.0         3.636364
                         13           40.0         3.583333
                         14           40.0        10.666667
                         15           40.0        11.416667
                         16           40.0        15.250000
                         17           40.0        12.153846
                         18           40.0        12.454545
                         19           40.0        12.692308
                         20           40.0        13.363636
                         21           40.0        14.916667
                         22           40.0        13.846154
                         23           40.0        15.363636
              02/04/2018 0            40.0        16.000000
                         1            40.0        16.000000
                         2            40.0        16.000000
                         3            40.0        16.000000
                         4            40.0        16.000000
                         5            40.0        16.166667

                               available_bike_stands
name          date       hour
BARROW STREET 01/04/2018 0                 36.000000
                         1                 36.000000
                         2                 36.000000
                         3                 36.000000
                         4                 36.000000
                         5                 35.538462
                         6                 35.083333
                         7                 34.833333
                         8                 36.272727
                         9                 38.230769
                         10                39.416667
                         11                36.750000
                         12                36.363636
                         13                36.416667
                         14                29.333333
                         15                28.583333
                         16                24.750000
                         17                27.846154
                         18                27.545455
                         19                27.307692
                         20                26.636364
                         21                25.083333
                         22                26.153846
                         23                24.636364
              02/04/2018 0                 24.000000
                         1                 24.000000
                         2                 24.000000
                         3                 24.000000
                         4                 24.000000
                         5                 23.833333

In [311]:
dfWeatherG.add_suffix('_mean').reset_index().to_csv('dfWeatherG.csv', index=False)

In [313]:
dfWeatherG = pd.read_csv('dfWeatherG.csv')

In [314]:
dfWeatherG.shape

(35552, 6)

In [315]:
df.tail()

,date,time,name,latitude,longitude,available_bikes,available_bike_stands,bike_stands,status,day
425147,12/04/2018,15:09,WILTON TERRACE,53.332383,-6.252717,7,13,20,OPEN,Thursday
425148,12/04/2018,15:09,EMMET ROAD,53.340714,-6.308191,3,37,40,OPEN,Thursday
425149,12/04/2018,15:03,HEUSTON BRIDGE (NORTH),53.347802,-6.292432,3,37,40,OPEN,Thursday
425150,12/04/2018,15:09,LEINSTER STREET SOUTH,53.342180,-6.254485,24,6,30,OPEN,Thursday
425151,12/04/2018,15:09,BLACKHALL PLACE,53.348800,-6.281637,5,25,30,OPEN,Thursday

In [320]:

dfWeatherG['name'].value_counts()

COLLINS BARRACKS MUSEUM         342
CLONMEL STREET                  342
GRANGEGORMAN LOWER (CENTRAL)    342
MATER HOSPITAL                  342
EARLSFORT TERRACE               342
ST. JAMES HOSPITAL (CENTRAL)    342
ROYAL HOSPITAL                  342
HARCOURT TERRACE                342
GRAND CANAL DOCK                342
NORTH CIRCULAR ROAD             342
GOLDEN LANE                     342
MERRION SQUARE WEST             342
SMITHFIELD NORTH                342
ST. STEPHEN'S GREEN SOUTH       342
SIR PATRICK DUN'S               342
PARNELL SQUARE NORTH            342
HEUSTON BRIDGE (SOUTH)          342
MOUNTJOY SQUARE WEST            342
CUSTOM HOUSE                    342
KING STREET NORTH               342
MOUNT BROWN                     342
DAME STREET                     342
PARKGATE STREET                 342
GRANTHAM STREET                 342
DENMARK STREET GREAT            342
CUSTOM HOUSE QUAY               342
GEORGES LANE                    342
GRATTAN STREET                  342
JOHN STREET WEST                342
YORK STREET WEST                342
                               ...
PORTOBELLO ROAD                 342
GRANGEGORMAN LOWER (NORTH)      342
FENIAN STREET                   342
SANDWITH STREET                 342
CATHAL BRUGHA STREET            342
EXCISE WALK                     342
FOWNES STREET UPPER             342
CHARLEMONT PLACE                342
MARKET STREET SOUTH             342
HIGH STREET                     342
GREEK STREET                    342
MOLESWORTH STREET               342
HEUSTON STATION (CENTRAL)       342
WILTON TERRACE                  342
LEINSTER STREET SOUTH           342
CITY QUAY                       342
STRAND STREET GREAT             342
KILMAINHAM GAOL                 342
ST. STEPHEN'S GREEN EAST        342
HEUSTON STATION (CAR PARK)      342
CONVENTION CENTRE               342
BLACKHALL PLACE                 342
SMITHFIELD                      342
NEW CENTRAL BANK                342
CHRISTCHURCH PLACE              342
OLIVER BOND STREET              342
WOLFE TONE STREET               342
KILMAINHAM LANE                 342
BARROW STREET                   341
BENSON STREET                   327
Name: name, Length: 104, dtype: int64